.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn,
.textbox {
  outline: transparent;
  border: transparent;
  padding: 15px 11px;
  border-radius: 10px;
  width: 100px;
}

.textbox {
  border: 1px solid gray;
  width: 200px;
}
